.user-addItem {
  margin: 0 0 2em;
}

.user-header {
  margin: 0 0 1em;
  text-align: left;

  .heading {
    margin: 0;
    border-bottom: 1px solid $black;
  }

  .btn-showHidden {
    margin: 0.5rem 0 0;
  }
}
