<h3>Add Item</h3>
{{#link-to "index"}}Close{{/link-to}}
<hr />
<div>
  <label for="nameInput">name</label><br/>
  {{input
    id="nameInput"
    placeholder="item name"
    type="text"
  }}
</div>

<div>
  <label for="dateInput">date</label><br/>
  {{input
    id="dateInput"
    type="date"
  }}
</div>

<button
  {{action "addItem"}}
  className="btn btn-default"
  type="button">
  Add
</button>
