<header class="page-header">
  <div class="inner">
    <h1 class="site-heading">
      {{#link-to 'index'}}
        {{#if session.isAuthenticated}}
          {{session.currentUser.email}} | YMN
        {{else}}
          You Might Need
        {{/if}}
      {{/link-to}}
    </h1>
  </div>
</header>

<div class="inner content-wrapper">
  {{outlet}}

  <div class="page-footer">
    {{#if session.isAuthenticated}}
      <button
        class="btn btn-warning btn-sm"
        data-tests="logoutBtn"
        type="button"
        {{action "signOut"}}>
        Log Out
      </button>
    {{/if}}
  </div>
</div>
