<header class="page-header">
  <div class="inner">
    <h1 class="site-heading">
      {{#link-to 'index'}}
        {{#if session.isAuthenticated}}
          {{session.currentUser.email}} |
        {{/if}}
        YMN
      {{/link-to}}
    </h1>
  </div>
</header>

<div class="inner">
  {{outlet}}

  <div class="page-footer">
    {{#if session.isAuthenticated}}
      <button type="button" class="btn btn-warning btn-sm" {{action "signOut"}}>Sign out</button>
    {{/if}}
  </div>
</div>
