<div class="flat section-callout">
  <h3 class="flat-heading">How it Works</h3>
  <p>You Might Need is a predictive shopping app. Whenever you buy something, enter it's name and the date of purchase. After adding at least 2 points of purchase for the same item, YMN will start to generate a shopping list to remind you when you might need to purchase something again.</p>
</div>

<div class="card">
  <form class="form" data-tests="loginForm" method="post" {{action "signIn" email password on="submit"}}>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}

    <div class="input-group">
      <label class="input-label" for="loginEmail">Email</label>
      {{input
        class="input"
        data-tests="loginEmail"
        id="loginEmail"
        placeholder="your@email.com"
        required="true"
        type="email"
        value=email
      }}
    </div>

    <div class="input-group">
      <label class="input-label" for="loginPassword">Password</label>
      {{input
        class="input"
        data-tests="loginPassword"
        id="loginPassword"
        required="true"
        type="password"
        value=password
      }}
      {{#link-to 'reset'}}Forget?{{/link-to}}
    </div>

    <button
      class="btn btn-primary"
      data-tests="loginBtn"
      type="submit">
      Login
    </button>
  </form>
</div>

{{#link-to 'signup' class="btn btn-primary btn-lrg"}}Sign up{{/link-to}}
