<h2>Reset Password</h2>

<p>
  Enter your email address, then check your email for instructions on how to reset your YMN password.
</p>

<p>
  <label for="resetEmailInput">Your Email</label><br>
  {{input
    id="resetEmailInput"
    type="email"
    value=email
  }}
</p>
