<div class="flat">
  <h2 class="flat-heading">Sign Up</h2>
  <P>YMN will never share your password with third-parties and will only email you if you forget your password and want to reset it.</p>
</div>

{{#if signUpSuccess}}
  <p>
    Your account was created successfully! {{#link-to 'index'}}Log in{{/link-to}} to start using You Might Need!
  </p>
{{else}}

  {{#if showErrorMsg}}
    <p class="error">
      Sorry, that email is already registered. Do you need to {{#link-to 'reset'}}reset your password{{/link-to}}?
    </p>
  {{/if}}

  <div class="card">
    <form class="form" method="post" {{action "signUp" on="submit"}}>
      <div class="input-group">
        <label class="input-label" for="loginEmail">Email</label>
        {{input
          class="input"
          id="loginEmail"
          placeholder="your@email.com"
          required="true"
          type="email"
          value=email
        }}
      </div>

      <div class="input-group">
        <label class="input-label" for="loginPassword">Password</label>
        {{input
          class="input"
          id="loginPassword"
          required="true"
          type="password"
          value=password
        }}
      </div>

      <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
  </div>

{{/if}}
